<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>create account</h3>
        <div class="theme-card">
          <form class="theme-form" [formGroup]="registForm">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  autocomplete="fname"
                  id="firstName"
                  placeholder="First Name"
                  required=""
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                />
                <div
                  *ngIf="submitted && f.firstName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.firstName.errors.required">
                    First Name is required
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                  id="lastName"
                  autocomplete="lname"
                  placeholder="Last Name"
                  required=""
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                />
                <div
                  *ngIf="submitted && f.lastName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.lastName.errors.required">
                    Last Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"
                  id="username"
                  autocomplete="username"
                  placeholder="Username"
                  required=""
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f.username.errors) 
                  }"
                />
                <div
                  *ngIf="
                    (submitted && f.username.errors) 
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="f.username.errors?.required">
                    Username is required
                  </div>
                  <div *ngIf="f.username.errors?.isUserNameUnique">
                    UserName is exsist
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="email">email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  id="email"
                  autocomplete="email"
                  placeholder="Email"
                  required=""
                  [ngClass]="{
                    'is-invalid':
                      (submitted && f.email.errors) 
                  }"
                />
                <div
                  *ngIf="(submitted && f.email.errors) "
                  class="invalid-feedback"
                >
                  <div *ngIf="f.email.errors?.required">Emaill is required</div>
                  <div *ngIf="f.email.errors?.pattern">Fail type email</div>
                  <div *ngIf="f.email.errors?.isEmailUnique">
                    Email is exsist
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  id="password"
                  autocomplete="new-password"
                  placeholder="Password"
                  required=""
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
                <div
                  *ngIf="submitted && f.password.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.password.errors.required">
                    Password is required
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="confirmpassword"
                  id="confirmpassword"
                  autocomplete="new-password"
                  placeholder="Confirm password"
                  required=""
                  [ngClass]="{
                    'is-invalid': submitted && f.confirmpassword.errors
                  }"
                />
                <div
                  *ngIf="submitted && f.confirmpassword.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.confirmpassword.errors.required">
                    Confirm Password is required
                  </div>
                  <div *ngIf="f.confirmpassword.errors.mustMatch">
                    Passwords must match
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-solid" (click)="onRegist()">
              create Account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
