<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>Page Content Details</h5>
    </div>
    <div class="card-body vendor-table">
      <div class="custom-datatable media-datatable">
        <div class="table-responsive">
          <ng2-smart-table
            [settings]="settings"
            (create)="openPopup(null)"
            (edit)="openPopup($event)"
            (delete)="delete($event)"
            [(source)]="pageContents"
          ></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="openCreate()">Add</button> -->
<!-- Container-fluid Ends-->
