iframe {
  width: 100%;
}

li:first-child {
  margin-top: 0;
}
ul li {
  position: relative;
  padding-left: 150px;
  margin-top: 45px;
  display: block;
}

.contact-icon {
  position: absolute;
  left: 0;
  text-align: center;
  width: 130px;
  border-right: 1px solid #dddddd;

  h6 {
    text-transform: uppercase;
    padding-top: 5px;
    font-weight: 600;
    color: #ff4c3b;
  }

  i {
    font-size: 20px;
    color: #ff4c3b;
  }

  p {
    font-weight: 600;
    margin-bottom: 0;
    line-height: 30px;
    font-size: 14px;
    color: #777777;
  }
}

label {
  text-transform: capitalize;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
}
.count-length-textarea {
  font-size: 0.7rem;
}
