.comments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.media {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 20px 20px 0px 0 !important ;
}

h6 {
  font-weight: bold;
  font-size: larger;
}

span {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}

.media-body {
  p {
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 1.5;
  }
}
