<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Search</h4>
  <button type="button" class="close" aria-label="Close" (click)="close($event)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="btn-group">
  <button (click)="setId() " class="btn btn-primary" type="button">Search By Id</button>
  <button (click)="setName()" class="btn btn-primary" type="button">Search By Name</button>
</div>

<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="form-group" *ngIf="options=='NAME'">
    <h4 for="name">Name</h4>
    <input type="text" formControlName="name" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && data.name.errors }" />
    <div *ngIf="submitted && data.name.errors" class="invalid-feedback">
      <div *ngIf="data.name.errors.required">Name is required</div>
    </div>
  </div>



  <div class="form-group" *ngIf="options=='ID'">
    <h4 for="id">ID</h4>
    <input type="text" formControlName="studentId" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && data.studentId.errors }" />
    <div *ngIf="submitted && data.studentId.errors" class="invalid-feedback">
      <div *ngIf="data.studentId.errors.required">StudentId is required</div>
    </div>
  </div>

  <div class="form-group" class="model-footer">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Search
    </button>
  </div>
</form>

<div *ngIf="found">
  <h4>RESULT</h4>
  <table class="table table-hover" *ngIf = "options == 'NAME'">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Student Id</th>
      <th scope="col">Class Id</th>
    </tr>
    <tr *ngFor="let item of results">

      <td>{{item.name}}</td>
      <td >{{item.id}}</td>
      <td >{{item.classId}}</td>
  </table>

  <table class="table table-hover" *ngIf = "options == 'ID'">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Student Id</th>
      <th scope="col">Class Id</th>
    </tr>
      <td>{{result.name}}</td>
      <td >{{result.id}}</td>
      <td >{{result.classId}}</td>
  </table>

</div>