.img-logo{
    height: 80px;
    width: 120px;
}

.footer-theme .sub-title li {
    position: relative;
    display: inherit;
    padding-top: 13px;
    text-transform: none;
    font-size: 14px;
    color: #777777;
}