<!--footer section -->
<footer [class]="class" id="footer-one">
  <div class="light-layout" *ngIf="newsletter">
    <div class="container">
      <!-- Xóa Know it all first vì không sử dụng -->
      <!-- <section class="small-section border-section border-top-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="subscribe">
              <div>
                <h4>KNOW IT ALL FIRST!</h4>
                <p>
                  Never Miss Anything From Multikart By Signicommentng Up To Our
                  Newsletter.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form
              class="form-inline subscribe-form"
              action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda"
              target="_blank"
              method="post"
            >
              <div class="form-group mx-sm-3">
                <input
                  type="email"
                  #name
                  name="EMAIL"
                  id="mce-EMAIL"
                  class="form-control"
                  placeholder="Enter your email"
                />
              </div>
              <button type="submit" class="btn btn-solid">subscribe</button>
            </form>
          </div>
        </div>
      </section> -->
    </div>
  </div>
  <section class="section-b-space light-layout py-4">
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-lg-4 col-md-6">
          <div class="footer-title footer-mobile-title">
            <h4>about</h4>
          </div>
          <div class="footer-contant">
            <div class="footer-logo" *ngIf="footerModel?.informationWeb">
              <a routerLink="/home" id="footerlogo">
                <app-image-wrapper
                  class="img-logo"
                  *ngIf="footerModel?.informationWeb?.logo"
                  [data]="{
                    url: footerModel?.informationWeb?.logo,
                    typeClass: typeDisplayImage.LOGO_IMAGE_FOOTER
                  }"
                ></app-image-wrapper>
              </a>
            </div>
            <p>{{ footerModel?.informationWeb?.description }}</p>
            <div class="footer-social">
              <ul *ngIf="footerModel?.socialMedias">
                <li *ngFor="let item of footerModel?.socialMedias">
                  <a href="{{ item.link }}" target="_blank">
                    <app-image-wrapper
                      [data]="{
                        url: item.iconUrl,
                        typeClass: typeDisplayImage.ICON_IMAGE_FOOTER
                      }"
                    ></app-image-wrapper>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col offset-xl-1">
          <div class="sub-title">
            <div class="footer-title">
              <h4>Categories</h4>
            </div>
            <div class="footer-contant">
              <ul *ngIf="footerModel?.categories">
                <li *ngFor="let item of footerModel?.categories | slice: 0:5">
                  <a href="/product?search.categoryName={{ item.name }}">{{
                    item.name
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4>why we choose</h4>
            </div>
            <div class="footer-contant">
              <ul *ngIf="footerModel?.pageContents">
                <li *ngFor="let pageContent of footerModel?.pageContents">
                  <a href="/page-info/{{ pageContent.id }}">{{
                    pageContent.title
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4>store information</h4>
            </div>
            <div class="footer-contant" *ngIf="footerModel?.informationWeb">
              <ul class="contact-list">
                <li>
                  <i class="fa fa-map-marker"></i
                  ><a>{{ footerModel?.informationWeb?.address }}</a>
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  <a> {{ footerModel?.informationWeb?.email }}</a>
                </li>
                <li>
                  <i class="fa fa-phone"></i
                  ><a>{{ footerModel?.informationWeb?.phone }}</a>
                </li>
                <li>
                  <i class="fa fa-fax"></i>
                  <a>{{ footerModel?.informationWeb?.fax }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="footer-end">
            <p class="py-1">
              <i class="fa fa-copyright" aria-hidden="true"></i>
              Since 2020
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12"></div>
      </div>
    </div>
  </div>
</footer>
<!--footer section end -->
