<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
  <div class="mobile-fix-option"></div>
  <div class="top-header" *ngIf="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header-contact" *ngIf="headerModel?.informationWeb">
            <ul>
              <li>{{ headerModel?.informationWeb?.title }}</li>
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>Call Us:
                {{ headerModel?.informationWeb?.phone }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 text-right">
          <ul class="header-dropdown">
            <li class="m-0 p-0"></li>
            <li class="mobile-wishlist" (click)="GotoWishList()" *ngIf="user">
              <!-- <a [routerLink]="['/wishlist']" -->
              <i class="fa fa-heart" aria-hidden="true"></i>Wishlist
            </li>
            <li class="onhover-dropdown mobile-account">
              <i class="fa fa-user" aria-hidden="true"></i>
              {{
                user
                  ? "Hello " + user.firstName + " " + user.lastName
                  : "Hello Guest"
              }}
              <ul class="onhover-show-div">
                <ng-container *ngIf="!user">
                  <li>
                    <a (click)="OpenLoginModal()"> Login </a>
                  </li>
                  <li>
                    <a (click)="OpenRegisterModal()">
                      Register
                    </a>
                  </li>
                </ng-container>
                <ng-container *ngIf="user">
                  <li>
                    <a (click)="loadUrlNavaigate('/profile')"> Profile </a>
                  </li>
                  <li>
                    <a (click)="onLogout()"> Logout </a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container" #headerRef id="header-one">
    <div class="row">
      <div class="col-sm-12">
        <div class="main-menu">
          <div class="menu-left">
            <app-left-menu></app-left-menu>
            <div class="brand-logo">
              <a routerLink="/home" id="headerlogo">
                <app-image-wrapper
                  *ngIf="headerModel?.informationWeb?.logo"
                  [data]="{
                    url: headerModel?.informationWeb?.logo,
                    typeClass: typeDisplayImage.LOGO_IMAGE
                  }"
                ></app-image-wrapper>
              </a>
            </div>
          </div>
          <div class="menu-right pull-right">
            <div>
              <app-menu> </app-menu>
            </div>
            <div>
              <app-settings></app-settings>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
