<div class="row">
  <div [class]="pageContents.length == 3 ? 'col-md-4 service-block' : 'col-md-6 service-block'" *ngFor="let pageContent of pageContents">
    <div class="media">
      <a class="link-page-content" [routerLink]="['/page-info', pageContent.id]"
        ><app-image-wrapper
          [data]="{
            url: pageContent.imageUrl?.split(',')[0],
            typeClass: typeDisplayImage.LOGO_PAGE_CONTENT
          }"
        ></app-image-wrapper
      ></a>
      <div class="media-body">
        <h4>
          <a
            class="link-page-content"
            [routerLink]="['/page-info', pageContent.id]"
            >{{ pageContent.title }}</a
          >
        </h4>
        <p>{{ pageContent.shortDes }}</p>
      </div>
    </div>
  </div>
</div>
