<div class="page-main-header" [class.open]="open">
  <div class="main-header-right row">
    <div class="main-header-left d-lg-none">
      <div class="logo-wrapper">
        <a [routerLink]="'/dashboard/default'"
          ><img
            class="blur-up lazyloaded"
            src="assets/images/dashboard/multikart-logo.png"
            alt=""
        /></a>
      </div>
    </div>
    <div class="mobile-sidebar">
      <div class="media-body text-right switch-sm">
        <label class="switch">
          <a>
            <app-feather-icons
              id="sidebar-toggle"
              [icon]="'align-left'"
              (click)="collapseSidebar()"
              style="cursor: pointer"
            >
            </app-feather-icons>
          </a>
        </label>
      </div>
    </div>
    <div class="nav-right col">
      <ul class="nav-menus" [ngClass]="{ open: openNav }">
        <li>
          <button type="button" class="btn btn-primary" (click)="openClient()">client</button>
        </li>
        <li>
          <a href="javascript:void(0)" class="text-dark" toggleFullscreen>
            <app-feather-icons [icon]="'maximize-2'"></app-feather-icons>
          </a>
        </li>

        <li class="onhover-dropdown">
          <div class="media align-items-center">
            <img
              appUiImageLoader
              class="align-self-center pull-right img-50 rounded-circle"
              src="{{ userInfo?.imageUrl }}"
              height="50"
              width="50"
              alt="header-user"
            />

            <div class="dotted-animation">
              <span class="animate-circle"></span
              ><span class="main-circle"></span>
            </div>
          </div>
          <ul
            class="
              profile-dropdown
              onhover-show-div
              p-20
              profile-dropdown-hover
            "
          >
            <li>
              <a [routerLink]="'profiles/profile-settings'">
                <app-feather-icons [icon]="'user'"></app-feather-icons>Edit
                Profile
              </a>
            </li>

            <li>
              <a (click)="onLogout()">
                <app-feather-icons [icon]="'log-out'"></app-feather-icons>Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-lg-none mobile-toggle pull-right" (click)="openMobileNav()">
        <app-feather-icons [icon]="'more-horizontal'"></app-feather-icons>
      </div>
    </div>
  </div>
</div>
